export(dplr,
       dplr.formula,
       dplr.numeric,
       dplr.factor,
       dplr.logical,
       dplr.data.frame,
       dplr.matrix,
       predict.dplr,
       print.dplr,
       summary.dplr,
       print.summary.dplr,       
       scaled)
       
